@font-face {
  font-family: 'minecraftiaregular';
  src: url('./files/minecraftia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('./files/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@define-mixin icon $type {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    @extend $type;
  }
}

@define-extend eyedropper {
  content: "\f1fb";
}

@define-extend copy {
  content: "\f0c5";
}

@define-extend paint-brush {
  content: "\f1fc";
}

@define-extend eraser {
  content: "\f12d";
}

@define-extend trash-o {
  content: "\f014";
}

@define-extend files-o {
  content: "\f0c5";
}

@define-extend download {
  content: "\f019";
}

@define-extend twitter {
  content: "\f099";
}

@define-extend undo {
  content: "\f0e2";
}

@define-extend repeat {
  content: "\f01e";
}

@define-extend columns {
  content: "\f07e";
}

@define-extend rows {
  content: "\f07d";
}

@define-extend help {
  content: "\f128";
}

@define-extend bucket {
  content: "\f0f4";
}

@define-extend user-circle {
  content: "\f007";
}

@define-extend open {
  content: "\F0F6";
}

@define-extend merge {
  content: "\F122";
}
