header {
  padding: 0;
  color: $color-silver;
  lost-utility: clearfix;
  display: flex;
  align-items: center;

  .sharelink {
    flex-grow: 1;
    margin: 0 10px;
  }

  .logo {
    position: relative;
    top: 12px;
  }
}
