
.app {
  &__main-container,
  &__central-container {
    lost-utility: clearfix;
  }

  &__central-container {
    display: flex;
  }

  &__center {
    flex-grow: 1;
    padding: 0 10px;
    margin: 0 auto;
    max-width: calc(100vh - 260px);
  }

  &__frames-container {
    margin-top: 10px;
  }

  &__frames-container[data-tooltip]::after {
    width: 80%;
  }

  &__frames-container[data-tooltip]::after {
    margin-left: -40%;
  }

  &__load-save-container {
    margin-bottom: 2em;

    lost-utility: clearfix;

    > div,
    > button {
      lost-column: 1/2 0 0.5em;
    }
  }

  &__load-button {
    @mixin button gray;
  }

  &__social-container {
    lost-utility: clearfix;
    margin: 1em 0;

    > div {
      lost-column: 1/3 0 0.5em;
    }
  }

  &__twitter-button {
    @mixin button blue;
    @mixin icon twitter;

    width: 100%;
  }

  &__download-button {
    @mixin button brown;
    @mixin icon download;

    width: 100%;
  }

  &__toggle-help-button {
    @mixin button darkblue;
    @mixin icon help;

    &.selected {
      box-shadow: 0 0 0 2px $color-silver;
    }

    width: 100%;
  }

  &__copycss-button {
    @mixin button white;

    width: 100%;
    margin-top: 1em;
    font-weight: bold !important;
    color: $color-mineShaft;
  }

  &__preview-button {
    @mixin button gray;

    width: 100%;
    margin: 0 0 0.6em;
    display: table;
  }

  &__tools-wrapper {
    text-align: center;
    margin: 1em 0 0.6em;

    > div {
      button {
        font-size: 1.8em;
        text-align: center;
        color: $color-mineShaft;
        padding: 0.4em 0;
        width: 100%;
        border: none;
        background-color: transparent;

        &:focus {
          outline: 0;
        }

        &.selected {
          color: $color-silver;
          background-color: $color-mineShaft;

          & > div {
            background-color: $color-mineShaft;
          }
        }
      }
    }
  }

  &__right-side,
  &__left-side {
    width: 200px;
    flex-grow: 0;
  }
}
