.cloud-peers {
  margin-top: 10px;

  h3 {
    display: inline-block;
    margin: 10px 0 0 0;
  }

  ul {
    -webkit-padding-start: 10px;
  }

  li {
    list-style-type: none;
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }

  li span {
    font-size: 11px;
    margin-right: 5px;
    vertical-align: super;
    border-left-style: solid;
    border-left-width: 8px;
  }

  li span.green {
    border-left-color: green;
  }

  li span.red {
    border-left-color: red;
  }

  &__add-button {
    @mixin button gray;

    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    vertical-align: super;
    margin-left: 10px;
  }

  &__buttons {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;

    button {
      vertical-align: top;
    }
  }

  li:hover &__buttons {
    opacity: 1;
  }
}