.frames-handler {
  lost-utility: clearfix;
  display: flex;

  .frames-handler__add {
    @mixin button gray;

    height: 86px;
  }

  &__list {
    display: flex;
    background-color: rgba(51, 50, 50, 0.2);
    padding: 0.2em;
    width: 0;
    flex-grow: 1;

    .list__container {
      height: 85px;
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 0.5em;
    }
  }
}
