.frames-handler {
  lost-utility: clearfix;
  display: flex;

  .frames-handler__add {
    @mixin button gray;

    align-self: stretch;
    margin-bottom: 5px;
    margin-left: 2px;
  }

  &__list {
    display: flex;
    background-color: rgba(51, 50, 50, 0.2);
    padding: 0.2em;
    width: 0;
    flex-grow: 1;

    .list__container {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}
