.PixelConflict {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: visible;

  &_Pixels {
    height: calc(100% + 16px);
    display: none;
    align-items: stretch;
    margin: -8px;
  }

  &_Pixel {
    flex-shrink: 0;
    position: relative;
    border: 3px solid $color-scorpion;
    width: 100%;
    color: transparent;
    box-shadow: inset 0 0 0 2px currentColor;

    & + & {
      border-left-width: 0px;
    }
  }

  &:hover &_Pixels {
    display: flex;
  }
}
