.version {
  display: grid;
  grid-template-columns: 48px 5px auto auto 24px;
  grid-template-rows: 24px 24px;
  grid-template-areas:
    "preview . status buttons buttons"
    "preview . text text avatar";
  align-items: center;
  border: 3px solid #757575;
  margin-top: 5px;
  background-color: #4b4949;
  line-height: 1.5;
  height: 54px;
  position: relative;

  &-selected {
    border-color: #FF9800;
  }

  &-viewing {
    border-color: #FF9800;
  }

  &-new {
    display: flex;
    cursor: pointer;
    justify-content: center;
    opacity: 0.7;
    border-style: dashed;

    &:hover {
      color: #000;
      opacity: 1;
    }
  }

  &__preview {
    grid-area: preview;
    height: 100%;
    background-color: #313131;
    overflow: hidden;
    border-right: 3px solid #555;

    .preview {
      position: relative;
      top: -3px;
      left: -3px;
    }
  }

  &__avatar {
    grid-area: avatar;
    height: 100%;
    overflow: hidden;
  }

  &__text {
    grid-area: text;
  }

  &__status {
    grid-area: status;
    font-size: 12px;
    color: #333;
  }

  &__buttons {
    grid-area: buttons;
    display: flex;
    font-size: 13px;
    align-self: start;
    justify-self: end;
  }

  &__list {
    position: relative;
    margin-left: 5px;
    padding-left: 8px;

    &::before {
      content: '';
      position: absolute;
      width: 3px;
      top: -5px;
      bottom: -5px;
      left: 0;
      background-color: #222;
    }

    .version + &::before {
      bottom: 26px;
    }

    & > .version::before {
      content: '';
      display: block;
      position: absolute;
      height: 3px;
      width: 8px;
      top: 50%;
      transform: translateY(-50%);
      right: 100%;
      margin-right: 3px;
      background-color: #222;
    }
  }
}
