.version {
  display: grid;
  grid-template-columns: 48px 6px 24px auto auto;
  grid-template-rows: 24px 24px;
  grid-template-areas:
    "preview . status status status"
    "preview . avatar text buttons";
  align-items: center;
  border: 3px solid #757575;
  margin-top: 5px;
  background-color: #4b4949;
  line-height: 1.5;
  font-size: 14px;
  height: 54px;
  position: relative;

  &-selected {
    border-color: #FF9800;
  }

  &-following {
    border-color: #00BCD4;
  }

  &-new {
    display: flex;
    cursor: pointer;
    justify-content: center;
    opacity: 0.7;
    border-style: dashed;

    &:hover {
      color: #000;
      opacity: 1;
    }
  }

  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: -7px -10px;
    background-color: red;
    color: white;
    font-size: 11px;
    line-height: 1;
    border-radius: 99px;
    padding: 5px 4px 1px 5px;
  }

  &__preview {
    grid-area: preview;
    height: 100%;
    background-color: #313131;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 3px 0 0 0 currentColor;

    > .Canvas {
      height: 100%;
      width: auto;
    }
  }

  &__avatar {
    grid-area: avatar;
    height: 100%;
    overflow: hidden;
    display: flex;
    color: black;

    > .Canvas {
      height: 100%;
      width: auto;
    }
  }

  &__text {
    grid-area: text;
    position: relative;
    top: 3px;
    margin-left: 3px;
  }

  &__status {
    grid-area: status;
    font-size: 11px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__buttons {
    grid-area: buttons;
    display: flex;
    font-size: 13px;
    align-self: end;
    justify-self: end;
    z-index: 1;
    position: relative;
  }

  &__list {
    position: relative;
    margin-left: 5px;
    padding-left: 8px;

    &::before {
      content: '';
      position: absolute;
      width: 3px;
      top: -5px;
      bottom: -5px;
      left: 0;
      background-color: #222;
    }

    .version + &::before {
      bottom: 26px;
    }

    & > .version::before {
      content: '';
      display: block;
      position: absolute;
      height: 3px;
      width: 8px;
      top: 50%;
      transform: translateY(-50%);
      right: 100%;
      margin-right: 3px;
      background-color: #222;
    }
  }
}
